h1 {
    font-family: 'Arapey';
    font-size: 30px;
    /* text-orientation: upright; */
    text-align: center;
    color: white;
    /* background-color: black; */
    padding: 10px;
    display: block;
    margin: auto;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(53, 53, 53, 0.97);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    list-style-type: none;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
    color: #000000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: black;
}



#label {
  background: rgba(0, 0, 0, 0.79);
  margin:8em auto;
  display:block;
  padding: 4px;
  text-align: center;
  width:5em;
  color:white;
  font-family:Arapey;
}

body {
    background: url(https://media2.giphy.com/media/lSzQjkthGS1gc/giphy.gif);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    margin:0;
    height: 100%;
    background-repeat: no-repeat;
}

#myFace {
    width: 300px;
    height: 160px;
    /* float: left; */
    text-align: left;
    border-style: solid;
    /* border-radius: 6px; */
    border-color: #152224;
    margin: 4em auto;
    display: block;
    filter: brightness(80%);
    background-image: url(https://alexiamaye.github.io/WIN_20170425_20_54_49_Pro.jpg);
    contain: content;
    background-size: contain;
}
#Login { width: 300px;
    height: 160px;
    /* float: left; */
    text-align: left;
    border-style: solid;
    /* border-radius: 6px; */
    border-color: #152224;
    margin: 4em auto;
    display: block;
    filter: brightness(80%);
    background-image: url(https://alexiamaye.github.io/loginscreen.png);
    contain: content;
    background-size:cover;
    
}

#myFace:hover {
    width: 320px;
    height: 180px;
    border-style: solid;
    border-color: #152224;
    box-shadow: 10px 10px 5px black;
    margin: 4em auto;
    display: block;
    background-image: url(https://alexiamaye.github.io/giphy.gif);
    background-size: contain;
}



#navItem a {
    display: block;
    height: 30px;
    /* background-color: #09a704; */
    /* border-style:solid; */
    border-color: black;
    /* border-radius:5px; */
    text-align: left;
    color: black;
    text-decoration: none;
    padding: 20px;
}

#navItem a:hover {
    background-color: #000000;
    color: lightgray;
}


li {
    text-align: center;
    margin: auto;
    width: 100%;
    float: left;
    /* left: 20%; */
    display: inline;
}



a {
    color: white;
    text-align: center;
    text-decoration:none;
    /* height: 186px; */
    /* width: 326px; */
    /* position: absolute; */
}

header {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.82);
    border: 6px;
    border-style: solid;
    border-color: #09a704;
    /* border-radius: 15px; */
    background-repeat: no-repeat;
}


#title {
    text-align: center;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 80%;
    display: block;
}

#counter {
    position: fixed;
    top: 0px;
    right: 0px;
}

#top {
    top: 0px;
    right: 0px;
    left: -10px;
    width: 80%;
    margin: auto;
    background-color: rgba(4, 6, 6, 0.25);
}

#bar {
    height: 10px;
    width: 80%;
    color: black;
    margin: auto;
    background-color: black;
}

#opener {
    font-size: 25px;
    border-style: solid;
    background: rgba(69, 74, 88, 0.67);
    border-width: 5px;
    color: black;
    padding: 10px;
    left: 0px;
    color: white;
    border-color: rgba(253, 253, 253, 0.29);
    border-radius: 15px;
    top: 0px;
    position: fixed;
}

#expllink, #loginlink {
    color: white;
    text-align: center;
    height: 186px;
    width: 326px;
    position: absolute;
}
span {
    font-size:small;
    font-family:'Ubuntu';
}

#doc {
    text-align: center;
}

#footer {
    color: lightgray;
    text-align: center;
    margin: 100px 0px 0px 0px;
    width: 100%;
    position:fixed;
    font-family:'Arapey';
    padding:10px;
    bottom:0;
    background-color: rgba(31, 28, 28, 0.67);
}
