a.btn {
    position: absolute;
    z-index: 999999999999;
    white-space: nowrap;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    font: 600 12px/18px "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    height: 20px;
    padding: 0 5px;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: padding;
    -moz-transition-property: padding;
    -ms-transition-property: padding;
    -o-transition-property: padding;
    transition-property: padding;
    -webkit-transition-duration: .1s;
    -moz-transition-duration: .1s;
    -ms-transition-duration: .1s;
    -o-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease
}

.btn {
    color: #fff;
    border: 1px solid rgba(0,0,0,0.18);
    background: rgba(0,0,0,0.38);
    text-shadow: 1px 1px 0 rgba(0,0,0,0.08)
}

a.btn,a.btn:hover {
    color: white!important
}

.btn {
    margin-bottom: 5px;
    color: #fff;
    border: 1px solid rgba(0,0,0,0.18);
    background: rgba(0,0,0,0.38);
    text-shadow: 1px 1px 0 rgba(0,0,0,0.08);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.btn:hover::after,.btn:focus::after {
    background: rgba(255,255,255,0.09);
    color: white
}

.btn:active::after {
    background: rgba(255,255,255,0.18) color:white
}

.btn_label.show {
    display: block
}

.btn::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit
}

.btn.icon::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20px;
    border-radius: inherit;
    background: url('http://static.tumblr.com/tpqedpr/cQ1mbwb60/de.png') 0 0 no-repeat
}

.btn.theme::before {
    background-position: 0 -0px
}

.btn img {
    width: 15px
}

.btn.icon {
    padding-left: 20px
}

.btn:active::after {
    background: rgba(255,255,255,0.18)
}

.clear {
    clear: both;
}

#pagination {
    display: all;
}

#navbar {
    font-size: 50px;
    color: white;
    display: inline-block;
    margin: 0;
    top: 0;
    cursor: pointer;
    position: fixed;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(53, 53, 53, 0.97);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    list-style-type: none;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
    color: #000000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: black;
}

body {
    background: url(https://i1.wp.com/photos.smugmug.com/Travel/Payette-Lake-McCall-Idaho/i-7v6rdXB/0/X2/_DSC8115-X2.jpg?resize=1140%2C761&ssl=1);
    background-size: 110% 100%;
    background-attachment: fixed;
    color: white;
    text-align: center;
    font-family: 'Arapey';
    cursor: url(https://download.seaicons.com/icons/icons8/windows-8/16/Cultures-Triskelion-icon.png), auto;
}

#navList {
    list-style-type: none;
    margin: auto;
    padding: 20px;
    top: 180px;
    width: 200px;
    /* right:20px; */
    vertical-align: middle;
    text-align: center;
    float: left;
    position: absolute;
}

#navItem a {
    display: block;
    height: 30px;
    /* background-color: #09a704; */
    /* border-style:solid; */
    border-color: black;
    /* border-radius:5px; */
    text-align: left;
    color: black;
    text-decoration: none;
    padding: 20px;
}

#navItem a:hover {
    background-color: #000000;
    color: lightgray;
}

li {
    text-align: center;
    margin: auto;
    width: 60%;
    left: 20%;
    display: inline;
}

a {
    color: white;
    text-align: center;
    /* height: 186px; */
    /* width: 326px; */
    /* position: absolute; */
}

.post {
    background: #8d5d93;
    border-style: solid;
    border-color: black;
    border: 20px;
    border-radius: 15px;
    padding: 10px;
    width: 500px;
    text-align: center;
    margin: 50px 400px;
    color: white;
    height: 50%;
}

#mainDiv {
}

#subordinates {
    list-style-type: none;
    margin: auto;
    right: 20px;
    text-align: center;
}

header {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.82);
    border: 6px;
    border-style: solid;
    border-color: #09a704;
    /* border-radius: 15px; */
    background-repeat: no-repeat;
}

audio {
    width: 80px;
    margin: 0px auto;
    position: fixed;
    top: 0px;
    right: 0px;
    border-style: solid;
}

#nowPlay {
    visibility: hidden;
}

#tracks {
    width: 200px;
    height: 0px;
    position: fixed;
    right: 0px;
    top: 25px;
}

#btnNext {
    height: 20px;
    width: 20px;
    padding: -10px 5px;
    right: 0px;
    position: fixed;
}

#btnPrev {
    height: 20px;
}

#title {
    padding: 40px;
    width: 80%;
    display: block;
    font-family: 'Arapey';
    font-size: 30px;
    /* text-orientation: upright; */
    text-align: center;
    color: white;
    /* background-color: black; */
    padding: 10px;
    display: block;
    margin: auto;
}

#top {
    top: 0px;
    right: 0px;
    left: -10px;
    /* height: 200px; */
    border-bottom: black solid 10px;
    width: 80%;
    margin: auto auto 20px;
    background-color: rgba(4, 6, 6, 0.63);
}

#opener {
    font-size: 25px;
    border-style: solid;
    background: rgba(69, 74, 88, 0.67);
    border-width: 5px;
    color: black;
    padding: 10px;
    left: 0px;
    border-color: black;
    border-radius: 15px;
    top: 0px;
    position: fixed;
}

#expllink {
    color: white;
    text-align: center;
    height: 186px;
    width: 326px;
    position: absolute;
}

#feed {
    width: 60%;
    /* height: 700px; */
    margin: 40px auto auto auto;
    background-color: rgba(0, 0, 0, 0.53);
}

#postimg {
    margin: auto auto;
    width: 50%;
    height: 50%;
    padding: 20px 20px 20px;
    display: block;
    box-shadow: inset 0px 0px 17px 9px black;
}

#photo {
    padding: 30px;
    box-shadow: 0px 0px 0px black;
}

#text {
    margin: auto auto;
    width: 80%;
    height: 50%;
    text-align: center;
    padding: 20px 20px 20px;
    display: block;
    box-shadow: inset 0px 0px 17px 9px black;
}

#post {
    padding: 30px;
    box-shadow: 0px 0px 0px black;
}

#Date {
    color: #518cc6;
}

#texttitle {
    color: white;
}

#texttext {
    color: #2a65a0
}

#down {
    margin: -10px auto 0px -5px;
}

#up {
    margin: auto -5px auto -15px;
    }
b {
    width:100px;
    display:block;
    height:20px;
    padding-right:30px;
    font-family: 'Arapey';
}
