 body{
 background-image: url(https://zennovember.files.wordpress.com/2015/08/tumblr-background-renaissance-blue-backgrounds-437194937.jpg);
 background-size: 100%;
 }
 .sidenav {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: #b5b3b3;
     background-color: #175d85;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 60px;
     list-style-type:none;   
 }
 
 .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
     color: bisque;
     color: #21d9f3;
      display: block;
     transition: 0.3s
     transition: 0.3s;
  }
  
  .sidenav a:hover, .offcanvas a:focus{
     color: #000000;
 }
 
 .sidenav .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
 }
 
 #main {
     transition: margin-left .5s;
     padding: 16px;
 }

.span {
color:white;
}
 
 @media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
#entries {
float:left;
}
  #entryOne {
     background-color:white;
     background-color: #175d85;
      width:290px;
      position:absolute;
      left:200;
      padding:20px;
      text-align:center;
     border-style: solid;
   margin: auto auto 30 auto;
    border-width: thick;
  }
 #entryTwo {
     background-color:white;
     background-color: #175d85;
      width:290px;
      position:absolute;
      left:400;
      padding:20px;
      text-align:center;
     border-style: solid;
    border-width: thick;
  }
  #date {
      color:grey;
 }
 #poem {
     font-family: 'Neucha', cursive;
 }
 #title {
     font-family: 'Bad Script', cursive;
 }
 
  #mainTitle {
      font-family: 'Eczar', serif;
      text-align:center;
     margin:auto;
     margin: auto auto 40 auto;
      display:block;
     width:100%;
     width: 20%;
      padding:40px;
     background-color:bisque;
     background-color: #1179a4;
     border-style:solid;
     border-width:12px;
     border-width: thick;
  }
