html,body {
-webkit-font-smoothing:antialiased;
-webkit-text-size-adjust:100%;
color:#C8C7C8;
font:20px/24px "Arapey", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight:300;
padding:5px 0;
}

* {
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-tap-highlight-color:transparent;
}


/* Typography
================================================== */

h1,h6,p { color:#808080; font-weight:200; }
h1 {font-size:42px;line-height:44px;/* margin:20px 0 0; */}
h6 { font-size:18px; line-height:20px; margin:4px 0 20px; }
p { font-size:18px; line-height:20px; margin:0 0 2px; }


/* Links
================================================== */

a,a:visited { color:#ddd; outline:0; text-decoration:underline; }
a:hover,a:focus { color:#bbb; }
p a,p a:visited { line-height:inherit; }


/* Misc.
================================================== */

.add-bottom { margin-bottom:20px !important; }
.left { float:left; }
.right { float:right; }
.center { text-align:center; }


/* Custom Styles
================================================== */
@media only screen and (max-width: 959px){
    html{background-size:cover;}
}


/* Highlight Styles */
::selection { background-color:#262223; color:#444; }


/* Audio Player Styles
================================================== */

/* Default / Desktop / Firefox */
audio { margin:0 15px 0 14px; width:670px; }
#mainwrap { box-shadow:0 0 6px 1px rgba(0,0,0,.25); }
#audiowrap { background-color:#231F20; margin:0 auto; }
#plwrap { margin:0 auto; }
#tracks { position:relative; text-align:center; }
#nowPlay { display:inline; }
#npTitle { margin:0; padding:21px; text-align:right; }
#npAction { padding:21px; position:absolute; }
#plList { margin:0; }
#plList li { background-color:#231F20; cursor:pointer; display:block; margin:0; padding:21px 0; }
#plList li:hover { background-color:#262223; }
.plItem { position:relative; }
.plTitle { left:50px; overflow:hidden; position:absolute; right:65px; text-overflow:ellipsis; top:0; white-space:nowrap; }
.plNum { padding-left:21px; width:25px; }
.plLength { padding-left:21px; position:absolute; right:21px; top:0; }
.plSel,.plSel:hover { background-color:#262223!important; cursor:default!important; }
a[id^="btn"] { background-color:#231F20; color:#C8C7C8; cursor:pointer; display:inline-block; font-size:50px; margin:0; padding:21px 27px; text-decoration:none; }
a[id^="btn"]:last-child { margin-left:-4px; }
a[id^="btn"]:hover,a[id^="btn"]:active { background-color:#262223; }
a[id^="btn"]::-moz-focus-inner { border:0; padding:0; }


/* Chrome */
html[data-useragent*="Chrome"] body { color:#5a5a5a; }
html[data-useragent*="Chrome"] audio { margin-left:9px; width:677px; }
html[data-useragent*="Chrome"] #audiowrap { background-color:#fafafa; }
html[data-useragent*="Chrome"] a[id^="btn"] { background-color:#fafafa; color:#5a5a5a; }
html[data-useragent*="Chrome"] a[id^="btn"]:hover { background-color:#eee; }
html[data-useragent*="Chrome"] #plList li { background-color:#fafafa; }
html[data-useragent*="Chrome"] #plList li:hover { background-color:#eee; }
html[data-useragent*="Chrome"] .plSel,
html[data-useragent*="Chrome"] .plSel:hover { background-color:#eee!important; }

/* Chrome / Android / Tablet */
html[data-useragent*="Chrome"][data-useragent*="Android"] body { color:#373837; }
html[data-useragent*="Chrome"][data-useragent*="Android"] audio { margin-left:4px; width:689px; }
html[data-useragent*="Chrome"][data-useragent*="Android"] #audiowrap { background-color:#fafafa; }
html[data-useragent*="Chrome"][data-useragent*="Android"] a[id^="btn"] { background-color:#fafafa; color:#373837; }
html[data-useragent*="Chrome"][data-useragent*="Android"] a[id^="btn"]:hover { background-color:#eee; }
html[data-useragent*="Chrome"][data-useragent*="Android"] #plList li { background-color:#fafafa; }
html[data-useragent*="Chrome"][data-useragent*="Android"] #plList li:hover { background-color:#eee; }
html[data-useragent*="Chrome"][data-useragent*="Android"] .plSel,
html[data-useragent*="Chrome"][data-useragent*="Android"] .plSel:hover { background-color:#eee!important; }


/* Audio Player Media Queries
================================================== */

/* Tablet Portrait */
@media only screen and (min-width: 768px) and (max-width: 959px) {
audio { width:526px; }
feed {width: 90%;}
html[data-useragent*="MSIE 9.0"] audio { width:536px; }
html[data-useragent*="MSIE 10.0"] audio { width:543px; }
html[data-useragent*="rv:11.0"] audio { width:551px; }
html[data-useragent*="OS 7"] audio { width:546px; }
html[data-useragent*="OS 8"] audio { width:550px; }
html[data-useragent*="OS 9"] audio { width:550px; }
html[data-useragent*="Chrome"] audio { width:533px; }
html[data-useragent*="Chrome"][data-useragent*="Android"] audio { margin-left:4px; width:545px; }
}

/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
audio { width:390px; }
feed {width: 90%;}
html[data-useragent*="MSIE 9.0"] audio { width:400px; }
html[data-useragent*="MSIE 10.0"] audio { width:407px; }
html[data-useragent*="rv:11.0"] audio { width:415px; }
html[data-useragent*="OS 7"] audio { width:410px; }
html[data-useragent*="OS 8"] audio { width:414px; }
html[data-useragent*="OS 9"] audio { width:414px; }
html[data-useragent*="Chrome"] audio { width:397px; }
html[data-useragent*="Chrome"][data-useragent*="Mobile"] audio { margin-left:4px; width:410px; }
#npTitle { width:245px; }
}

/* Mobile Portrait */
@media only screen and (max-width: 479px) {
audio { width:270px; }
feed {width: 90%;}
html[data-useragent*="MSIE 9.0"] audio { width:280px; }
html[data-useragent*="MSIE 10.0"] audio { width:287px; }
html[data-useragent*="rv:11.0"] audio { width:295px; }
html[data-useragent*="OS 7"] audio { width:290px; }
html[data-useragent*="OS 8"] audio { width:294px; }
html[data-useragent*="OS 9"] audio { width:294px; }
html[data-useragent*="Chrome"] audio { width:277px; }
html[data-useragent*="Chrome"][data-useragent*="Mobile"] audio { margin-left:4px; width:290px; }
#npTitle { width:167px; }
}
a.btn {
    position: absolute;
    z-index: 999999999999;
    white-space: nowrap;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    font: 600 12px/18px "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    height: 20px;
    padding: 0 5px;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: padding;
    -moz-transition-property: padding;
    -ms-transition-property: padding;
    -o-transition-property: padding;
    transition-property: padding;
    -webkit-transition-duration: .1s;
    -moz-transition-duration: .1s;
    -ms-transition-duration: .1s;
    -o-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease
}

.btn {
    color: #fff;
    border: 1px solid rgba(0,0,0,0.18);
    background: rgba(0,0,0,0.38);
    text-shadow: 1px 1px 0 rgba(0,0,0,0.08)
}

a.btn,a.btn:hover {
    color: white!important
}

.btn {
    margin-bottom: 5px;
    color: #fff;
    border: 1px solid rgba(0,0,0,0.18);
    background: rgba(0,0,0,0.38);
    text-shadow: 1px 1px 0 rgba(0,0,0,0.08);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.btn:hover::after,.btn:focus::after {
    background: rgba(255,255,255,0.09);
    color: white
}

.btn:active::after {
    background: rgba(255,255,255,0.18) color:white
}

.btn_label.show {
    display: block
}

.btn::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit
}

.btn.icon::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20px;
    border-radius: inherit;
    background: url('http://static.tumblr.com/tpqedpr/cQ1mbwb60/de.png') 0 0 no-repeat
}

.btn.theme::before {
    background-position: 0 -0px
}

.btn img {
    width: 15px
}

.btn.icon {
    padding-left: 20px
}

.btn:active::after {
    background: rgba(255,255,255,0.18)
}

.clear {
    clear: both;
}

#pagination {
    display: all;
}

#navbar {
    font-size: 50px;
    color: white;
    display: inline-block;
    margin: 0;
    top: 0;
    cursor: pointer;
    position: fixed;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(53, 53, 53, 0.97);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    list-style-type: none;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
    color: #000000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: black;
}

body {
    background: url(http://www.pixelstalk.net/wp-content/uploads/2016/06/HD-Wallpapers-Gif-Download.gif);
    background-size: 110% 100%;
    background-attachment: fixed;
    color: white;
    text-align: center;
    font-family: 'Arapey';
}

#audiotitle{
    position:fixed;
    width: 100px;
    left: 0;
    bottom: 14px;
    z-index: 4;
    background-color:rgba(19, 26, 31, 0.7);
    padding:10px;
}

#navList {
    list-style-type: none;
    margin: auto;
    padding: 20px;
    top: 180px;
    width: 200px;
    /* right:20px; */
    vertical-align: middle;
    text-align: center;
    float: left;
    position: absolute;
}

#navItem a {
    display: block;
    height: 30px;
    /* background-color: #09a704; */
    /* border-style:solid; */
    border-color: black;
    /* border-radius:5px; */
    text-align: left;
    color: black;
    text-decoration: none;
    padding: 20px;
}

#navItem a:hover {
    background-color: #000000;
    color: lightgray;
}

li {
    text-align: center;
    margin: auto;
    width: 60%;
    left: 20%;
    display: inline;
}

a {
    color: white;
    text-align: center;
    /* height: 186px; */
    /* width: 326px; */
    /* position: absolute; */
}

.post {
    background: #8d5d93;
    border-style: solid;
    border-color: black;
    border: 20px;
    border-radius: 15px;
    padding: 10px;
    width: 500px;
    text-align: center;
    margin: 50px 400px;
    color: white;
}

#mainDiv {
}

#subordinates {
    list-style-type: none;
    margin: auto;
    right: 20px;
    text-align: center;
}

audio {
    width: 114px;
    margin: 0px auto;
    z-index: 4;
    position: fixed;
    bottom: 0px;
    left: 0px;
    border-style: solid;
}

#nowPlay {
    visibility: hidden;
}

#tracks {
    width: 200px;
    height: 0px;
    position: fixed;
    right: 0px;
    top: 25px;
}

#btnNext {
    height: 20px;
    width: 20px;
    padding: -10px 5px;
    right: 0px;
    position: fixed;
}

#btnPrev {
    height: 20px;
}

#title {
    padding: 40px;
    width: 80%;
    display: block;
    font-family: 'Arapey';
    font-size: 30px;
    /* text-orientation: upright; */
    text-align: center;
    color: white;
    /* background-color: black; */
    padding: 10px;
    display: block;
    margin: auto;
}

#top {
    top: 0px;
    right: 0px;
    left: -10px;
    /* height: 200px; */
    border-bottom: black solid 10px;
    width: 80%;
    margin: auto;
    background-color: rgb(34, 25, 33);
}

#opener {
    font-size: 25px;
    border-style: solid;
    background: rgba(69, 74, 88, 0.67);
    border-width: 5px;
    color: black;
    padding: 10px;
    left: 0px;
    border-color: black;
    border-radius: 15px;
    top: 0px;
    position: fixed;
}

#expllink {
    color: white;
    text-align: center;
    height: 186px;
    width: 326px;
    position: absolute;
}

#feed {
    width:60%;
    /* height: 700px; */
    margin: 40px auto auto auto;
    background-color: rgba(134, 92, 127, 0.21);
}

#postimg {
    margin: auto auto;
    width: 50%;
    padding: 20px 20px 20px;
    display: block;
    box-shadow: inset 0px 0px 17px 9px black;
}

#photo {
    padding: 30px;
    box-shadow: 0px 0px 0px black;
}

#text {
    margin: auto auto;
    width: 80%;
    text-align: center;
    padding: 20px 20px 20px;
    display: block;
    box-shadow: inset 0px 0px 17px 9px black;
}

#post {
    padding: 30px;
    box-shadow: 0px 0px 0px black;
}

#Date {
    color: #518cc6;
}

#texttitle {
    color: white;
}

#texttext {
    color: #2a65a0
}

#down {
    margin: -10px auto 0px -5px;
}

#up {
    margin: auto -5px auto -15px;
}
#footer {
    position:fixed;
    bottom:0;
    width:100%;
    left:0;
    padding:20px;
    display:block;
    background-color: rgb(63, 52, 70);
    text-align:center;
    margin:;
    z-index:1;
}
