body {
padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.post-current {
	border-left: 6px solid #636ee7;
}
body {
  background: linear-gradient(to bottom, #bee5f7, #0c6c99, #147b72 , black 60%);
  height:20000px;
}
#firstphoto{
	display: block;
	margin: 2% auto;
	width: 30%;
	border-style: solid;
	border-color: black;
	box-shadow: #17022b 0px 0px 20px 2px;
}
#name{
	text-align:center;
}
tbody{
	width: 8em;
	display:block;
	margin:auto;
	position:initial;
}
#doodleheart{
	display:inline;
	width: 10%;
	position:absolute;
	margin: -2% 25%;
}
#fixedbox {
  background: black;
  color: white;
  border-style: solid;
  border-color: white;
  font-family: 'Inknut Antiqua';
  left: 2%;
  padding: 10px 10px 10px 10px;
  border-width: 1px;
  padding:20px;
  width: 12%;
  display: block;
  position:fixed;
  top:0;
  left:0;
}
#profile1 {
	margin: auto auto 5em auto;
	display:block;
	padding-top: 2em;
	width: 80%;
	border-bottom-style: solid;
	border-top-style: solid;
	border-width: 1em;
	border-color: black;
}
#insta{
	width:4em;
	margin:0px;
}

#tumblr {
	width:4em;
}

#Tumblr a{
	top: 0%;
	position: fixed;
	width: 64px;
	display: table-cell;
	height: 76px;
}
#Instagram a {
	width: 64px;
	height: 76px;
	position:fixed;
	left: 22px;
	margin:auto;
}


h4 {
  padding: 0px 10px 10px 10px;
  margin: -10px auto auto auto;
}

#t01 {
  font-size: 0.5em;
  width: 100%;
  display: inline-block;
  margin: auto;
}

table#t01 td,
th {
  display: inline-block;
  width: 8em;
  text-align: center;
  contain: content;
  border-style: solid;
  border-width: 1px;
}

table#t01 th {
  display: inline-block;
}

table#t01 td {}


.post-inner {
	margin-left: 10px;
	word-wrap: break-word;
}

.post-other {

	margin-top: 10px;
	margin-bottom: 10px;
	border-left: 6px solid #c3b8b8;
}
b {
	padding-right: 30px;
	width: 200px;
	height: 20px;
	display: block;
}
#description {
	width: 65%;
	margin: 1.6em auto;
	background: rgba(190, 229, 247, 0.01);
	padding:20px;
	text-align: center;
	box-shadow: inset black 0px 0px 20px 3px;
	color: black;
	font-family: "Slabo 27px";
}
