html {
  height: 100%;
  background: linear-gradient(#457EAC, #006989);
  background-size: 100%;
  background-attachment: fixed;
  margin:0;
}
body{
    margin:0;
    height: 1000em;
}
.btn {
    color: #fff;
    border: 1px solid rgba(0,0,0,0.18);
    background: rgba(0,0,0,0.38);
    text-shadow: 1px 1px 0 rgba(0,0,0,0.08)
}

a.btn,a.btn:hover {
    color: white!important
}

.btn {
    margin-bottom: 5px;
    color: #fff;
    border: 1px solid rgba(0,0,0,0.18);
    background: rgba(0,0,0,0.38);
    text-shadow: 1px 1px 0 rgba(0,0,0,0.08);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.btn:hover::after,.btn:focus::after {
    background: rgba(255,255,255,0.09);
    color: white
}

.btn:active::after {
    background: rgba(255,255,255,0.18) color:white
}

.btn_label.show {
    display: block
}

.btn::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit
}

.btn.icon::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20px;
    border-radius: inherit;
    background: url('http://static.tumblr.com/tpqedpr/cQ1mbwb60/de.png') 0 0 no-repeat
}

.btn.theme::before {
    background-position: 0 -0px
}

.btn img {
    width: 15px
}

.btn.icon {
    padding-left: 20px
}

.btn:active::after {
    background: rgba(255,255,255,0.18)
}

.clear {
    clear: both;
}

#pagination {
    display: all;
}

#navbar {
    font-size: 50px;
    color: white;
    display: inline-block;
    margin: 0;
    top: 0;
    cursor: pointer;
    position: fixed;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(53, 53, 53, 0.97);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    /* color: #006989; */
    list-style-type: none;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: #006989;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
    color: #000000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: black;
}
#navItem {
    color: #eaebed;
}
.parallax {
    /* The image used */
    background-image: url("https://github.com/mayamcgill/BAM-resort/blob/master/Atlantis.png?raw=true");

    /* Set a specific height */
    min-height: 960px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fixme {
    border-bottom-style:solid;
    border-bottom-width:thick;
    border-color: #000;
    width:100%;
    top: 0;
    margin:0em;
    margin-top:0em;
    background-color: rgba(173, 171, 171, 0.75);
    display:block;
    height:5em;
    color: black;
    }
#hdesc {
    float:right;
    font-family: 'Ubuntu', sans-serif;
    border-left-style:solid;
    right:0;
    border-color: black;
    margin: auto;
    padding: 20px 10px 19px 10px;
    }
#opener {
    padding: 5px;
    background-color: rgba(158, 158, 158, 0.38);
    color: burlywood;
    font-size: larger;
    font-family: 'Ubuntu';
    position:fixed;
    z-index:10;
    top:0;
}
.post {
   background-color:white;
   width: 30em;
   margin-top: 30px;
   margin-bottom: 30px;
   font-family:'Ubuntu';
   text-align:center;
   padding:20px;
   display: inline-block;
}
#post1 {
    float:left;
    margin-left: 7em;
}
#post2 {
    float:right;
    margin-right: 3em;
}
