body {
padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.post-current {
	border-left: 6px solid #636ee7;
}
body {
  background: linear-gradient(to bottom, #bee5f7, #0c6c99, #147b72 , black 60%);
  height:20000px;
}
#firstphoto{
	display: block;
	margin: 2% auto;
	box-shadow: blueviolet -20px 20px;
}
#doodleheart{
	display:inline;
	width: 10%;
	position:absolute;
	margin: -2% 25%;
}
#fixedbox {
  background: black;
  color: white;
  border-style: solid;
  border-color: white;
  font-family: 'Inknut Antiqua';
  left: 2%;
  padding: 10px 10px 10px 10px;
  border-width: 1px;
  padding:20px;
  width: 10%;
  display: block;
  position:fixed;
  top:0;
  left:0;
}
#profile1 {
	margin:auto;
	display:block;
}
#insta{
	width:4em;
	margin:0px;
}

#tumblr {
	width:4em;
}

#Tumblr a{
	top: 0%;
	position: fixed;
	width: 64px;
	display: table-cell;
	height: 76px;
}
#Instagram a {
	width: 64px;
	height: 76px;
	position:fixed;
	left: 22px;
	margin:auto;
}


h4 {
  padding: 0px 10px 10px 10px;
  margin: -10px;
}

#t01 {
  /* font-size: 0.5em; */
}

table#t01 td,
th {
  /* display: inline-block; */
  /* width: 6em; */
  /* text-align: center; */
  /* contain: content; */
  border-style: solid;
  border-width: 1px;
}

table#t01 th {
  display: inline-block;
  font-size: large;
}

table#t01 td {
    padding: 4px 20px;
}


.post-inner {
	margin-left: 10px;
	word-wrap: break-word;
}

.post-other {

	margin-top: 10px;
	margin-bottom: 10px;
	border-left: 6px solid #c3b8b8;
}
b {
	padding-right: 30px;
	width: 200px;
	height: 20px;
	display: block;
}
* {box-sizing:border-box;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
#profiledealexia, #profilededaniel {
	/* margin: auto auto 1em auto; */
	/* background: black; */
	/* display:block; */
	/* padding-top: 2em; */
	color: white;
	text-align: center;
	/* overflow:hidden; */
	/* width: 100%; */
}
#alexiasfixedbox {
  color: white;
  /* width: 100%; */
  /* left: 18%; */
  /* text-align: center; */
  /* margin: auto; */
  /* padding:20px; */
  /* display: table-cell; */
  /* width: 0%; */
}
#alexiasdoodle, #danielsdoodle{
	display:inline;
	position: absolute;
	width: 10%;
	z-index: 5;
	top: 6em;
	right: 29.4em;
	margin: auto;
}
#name{
	text-align:center;
	font-size: larger;
}
#t01 {
  /* font-size: 0.5em; */
  /* width: 100%; */
  /* display: inline-block; */
  /* text-align: center; */
  margin: auto;
}
h4 {
  padding: 0px 10px 10px 10px;
  margin: -10px auto auto auto;
}
table#t01 td, th, tr {
  /* width: 9.8em; */
  text-align: left;
  /* contain: content; */
  border-right-style: solid;
  border-right-width: medium;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  /* margin-right: auto; */
  color:white;
  /* border-width: 1px; */
}
#description {
	/* width: 100%; */
	margin: 0 auto 2em auto;
	/* bottom: 5em; */
	font-size: medium;
	color: white;
	background: rgba(190, 229, 247, 0.85);
	display: block;
	position: absolute;
	padding:20px;
	text-align: center;
	border-style: solid;
	border-color: white;
	box-shadow: #bbb 0px 0px 0px 3px;
	border-radius: 15px;
}
#alexiasphoto{
	display: block;
	margin: 0;
	position: absolute;
	width: 27%;
	right: 2em;
	top: 3em;
	border-style: solid;
	border-color: #f2f2f2;
	box-shadow: #17022b 0px 0px 20px 2px;
}

tbody{
	/* width: 20em; */
	/* display:block; */
	/* margin: auto; */
	/* vertical-align: text-top; */
	text-align: left;
	/* position: absolute; */
}
body {
padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
================================================== */

@import url("//fonts.googleapis.com/css?family=Arapey:200,300,400");


/* Desktop
================================================== */

.container { position:relative; margin:0 auto; width:700px; }
.column { width:inherit; }



/* Basic Styles
================================================== */

html,body {/* padding:5px 0; */-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;/* color:#C8C7C8; */font:20px/24px "Arapey", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:300;/* padding:5px 0; */}

* {
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-tap-highlight-color:transparent;
}


/* Typography
================================================== */

h1,h6,p {/* color:#808080; */font-weight:200;}
h1 {font-size:42px;line-height:44px;/* margin:20px 0 0; */}
h6 { font-size:18px; line-height:20px; margin:4px 0 20px; }
p { font-size:18px; line-height:20px; margin:0 0 2px; }


/* Links
================================================== */

a,a:visited { color:#ddd; outline:0; text-decoration:underline; }
a:hover,a:focus { color:#bbb; }
p a,p a:visited { line-height:inherit; }


/* Misc.
================================================== */

.add-bottom { margin-bottom:20px !important; }
.left { float:left; }
.right { float:right; }
.center { text-align:center; }


/* Custom Styles
================================================== */

/* Highlight Styles */
::selection {background-color:#262223;/* color:#444; */}


/* Audio Player Styles
================================================== */

/* Default / Desktop / Firefox */
audio { margin:0 15px 0 14px; width:670px; }
#mainwrap { box-shadow:0 0 6px 1px rgba(0,0,0,.25); }
#audiowrap { background-color:#231F20; margin:0 auto; }
#plwrap { margin:0 auto; }
#tracks { position:relative; text-align:center; }
#nowPlay { display:inline; }
#npTitle { margin:0; padding:21px; text-align:right; }
#npAction { padding:21px; position:absolute; }
#plList { margin:0; }
#plList li { background-color:#231F20; cursor:pointer; display:block; margin:0; padding:21px 0; }
#plList li:hover { background-color:#262223; }
.plItem { position:relative; }
.plTitle { left:50px; overflow:hidden; position:absolute; right:65px; text-overflow:ellipsis; top:0; white-space:nowrap; }
.plNum { padding-left:21px; width:25px; }
.plLength { padding-left:21px; position:absolute; right:21px; top:0; }
.plSel,.plSel:hover { background-color:#262223!important; cursor:default!important; }
a[id^="btn"] { background-color:#231F20; color:#C8C7C8; cursor:pointer; display:inline-block; font-size:50px; margin:0; padding:21px 27px; text-decoration:none; }
a[id^="btn"]:last-child { margin-left:-4px; }
a[id^="btn"]:hover,a[id^="btn"]:active { background-color:#262223; }
a[id^="btn"]::-moz-focus-inner { border:0; padding:0; }


/* Chrome */
html[data-useragent*="Chrome"] body { color:#5a5a5a; }
html[data-useragent*="Chrome"] audio { margin-left:9px; width:677px; }
html[data-useragent*="Chrome"] #audiowrap { background-color:#fafafa; }
html[data-useragent*="Chrome"] a[id^="btn"] { background-color:#fafafa; color:#5a5a5a; }
html[data-useragent*="Chrome"] a[id^="btn"]:hover { background-color:#eee; }
html[data-useragent*="Chrome"] #plList li { background-color:#fafafa; }
html[data-useragent*="Chrome"] #plList li:hover { background-color:#eee; }
html[data-useragent*="Chrome"] .plSel,
html[data-useragent*="Chrome"] .plSel:hover { background-color:#eee!important; }

/* Chrome / Android / Tablet */
html[data-useragent*="Chrome"][data-useragent*="Android"] body { color:#373837; }
html[data-useragent*="Chrome"][data-useragent*="Android"] audio { margin-left:4px; width:689px; }
html[data-useragent*="Chrome"][data-useragent*="Android"] #audiowrap { background-color:#fafafa; }
html[data-useragent*="Chrome"][data-useragent*="Android"] a[id^="btn"] { background-color:#fafafa; color:#373837; }
html[data-useragent*="Chrome"][data-useragent*="Android"] a[id^="btn"]:hover { background-color:#eee; }
html[data-useragent*="Chrome"][data-useragent*="Android"] #plList li { background-color:#fafafa; }
html[data-useragent*="Chrome"][data-useragent*="Android"] #plList li:hover { background-color:#eee; }
html[data-useragent*="Chrome"][data-useragent*="Android"] .plSel,
html[data-useragent*="Chrome"][data-useragent*="Android"] .plSel:hover { background-color:#eee!important; }


/* Audio Player Media Queries
================================================== */

/* Tablet Portrait */
@media only screen and (min-width: 768px) and (max-width: 959px) {
audio { width:526px; }
html[data-useragent*="MSIE 9.0"] audio { width:536px; }
html[data-useragent*="MSIE 10.0"] audio { width:543px; }
html[data-useragent*="rv:11.0"] audio { width:551px; }
html[data-useragent*="OS 7"] audio { width:546px; }
html[data-useragent*="OS 8"] audio { width:550px; }
html[data-useragent*="OS 9"] audio { width:550px; }
html[data-useragent*="Chrome"] audio { width:533px; }
html[data-useragent*="Chrome"][data-useragent*="Android"] audio { margin-left:4px; width:545px; }
}

/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
audio { width:390px; }
html[data-useragent*="MSIE 9.0"] audio { width:400px; }
html[data-useragent*="MSIE 10.0"] audio { width:407px; }
html[data-useragent*="rv:11.0"] audio { width:415px; }
html[data-useragent*="OS 7"] audio { width:410px; }
html[data-useragent*="OS 8"] audio { width:414px; }
html[data-useragent*="OS 9"] audio { width:414px; }
html[data-useragent*="Chrome"] audio { width:397px; }
html[data-useragent*="Chrome"][data-useragent*="Mobile"] audio { margin-left:4px; width:410px; }
#npTitle { width:245px; }
}

/* Mobile Portrait */
@media only screen and (max-width: 479px) {
audio { width:270px; }
html[data-useragent*="MSIE 9.0"] audio { width:280px; }
html[data-useragent*="MSIE 10.0"] audio { width:287px; }
html[data-useragent*="rv:11.0"] audio { width:295px; }
html[data-useragent*="OS 7"] audio { width:290px; }
html[data-useragent*="OS 8"] audio { width:294px; }
html[data-useragent*="OS 9"] audio { width:294px; }
html[data-useragent*="Chrome"] audio { width:277px; }
html[data-useragent*="Chrome"][data-useragent*="Mobile"] audio { margin-left:4px; width:290px; }
#npTitle { width:167px; }
}
.post-current {
	border-left: 6px solid #636ee7;
}
body {
  background: linear-gradient(to bottom, #bee5f7, #0c6c99, #147b72 , black 60%);
  height:20000px;
}
#alexiasphoto{
	display: table-footer-group;
	margin: 1em auto;
	position: relative;
	width: 30%;
	border-style: solid;
	border-color: #fafafa;
	box-shadow: #bbb 0px 0px 0px 5px;
	border-radius: 15px;
}
#danielsphoto{
	display: block;
	margin: 2% auto;
	width: 30%;
	border-style: solid;
	border-color: black;
	box-shadow: #17022b 0px 0px 20px 2px;
}
}
#name{
	text-align:center;
}
tbody{
	width: 20em;
	margin: 2em auto;
	height: 2em;
	border-color: transparent;
}
#alexiasdoodle, #danielsdoodle{
	display: block;
	width: 10%;
	position: absolute;
	margin: 1em -2em;
}
#alexiasfixedbox {
  color: white;
  font-family: 'Inknut Antiqua';
  /* top: 0; */
  /* left: 0; */
}
#danielsfixedbox {
  background: black;
  color: white;
  border-style: solid;
  border-color: white;
  font-family: 'Inknut Antiqua';
  /* right:2%; */
  border-width: 1px;
  padding:20px;
  width: 15%;
position:fixed;
  /* margin-top: 2em; */
  display: block;
  position: absolute;
  top: 0px;
  left:0;
}
#profiledealexia, #profilededaniel {
	margin: auto auto 1em auto;
	display:block;
	position: relative;
	padding-top: 2em;
	text-align:  center;
	overflow:hidden;
	width: 100%;
	background: #e6b5e0;
	border-style: solid;
	\: solid;
	border-width: 3px;
	border-radius: 15px;
	border-color: #f2f2f2;
	box-shadow: 0px 0px 0px 5px #bbb;
}


#insta{
	width:4em;
	margin:0px;
}

#tumblr {
	width:4em;
}

#Tumblr a{
	top: 0%;
	position: fixed;
	width: 64px;
	display: table-cell;
	height: 76px;
}
#Instagram a {
	width: 64px;
	height: 76px;
	position:fixed;
	left: 22px;
	margin:auto;
}


h4 {
  padding: 0px 10px 10px 10px;
  margin: -10px auto auto auto;
}

#t01 {
  /* font-size: 0.5em; */
  /* width: 100%; */
  height: 3em;
  border-style: solid;
  border-radius: 15px;
  border-color: white;
  box-shadow: 0px 0px 0px 5px #bbb;
  /* display: inline-block; */
  /* margin: auto; */
}

table#t01 td, th, tr {
  display: table-cell;
  /* width: 9em; */
  /* height: 3em; */
}

table#t01 th {
  display: -webkit-box;
  color: white;
  padding-right: 20px;
  padding-left: 20px;
}

table#t01 td {
    /* vertical-align: top; */
}


.post-inner {
	margin-left: 10px;
	word-wrap: break-word;
}

.post-other {

	margin-top: 10px;
	margin-bottom: 10px;
	border-left: 6px solid #c3b8b8;
}
b {
	padding-right: 30px;
	width: 200px;
	height: 20px;
	display: block;
}
#description {
	width: 65%;
	/* margin: auto; */
	position: relative;
	background: rgba(190, 229, 247, 0.01);
	padding:20px;
	text-align: center;
	/* box-shadow: inset black 0px 0px 20px 3px; */
	/* color: black; */
	font-family: "Slabo 27px";
}
#pagetitle{
	/* margin: 1em auto; */
	/* width:100%; */
	/* display:block; */
	text-align:center;
}
#divs{
	position: absolute;
	width: 15%;
	z-index: 3;
	/* contain: content; */
}
#name {
	text-align:center;
}
th {
	font-size:x-small;
	font-weight: 400;
}
#grade {
	height: 2em;
	padding: 4px 20px;
}
#teamPosition {
	border-right-color: transparent;
}
