

body {
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/restaurant.png");
  font: bold 13px Helvetica, Arial, sans-serif;
}
a {
  color: #a2a2a2;
  text-decoration: none;
  transition: color .3s ease;
}
footer a {
  margin-right: 10px;
}
a:hover {
  color: #666;
}
.container {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}
.no-posts {
  padding: 50px 10px 30px 100px;
  text-align: center;
  color: #fff;
}
.posts {
  list-style: none;
  margin: 20px auto;
  padding: 0;
  width: 100%;
}
.posts .post {
  margin-top: 20px;
  margin-left: 100px;
  position: relative;
}
.posts .post-avatar {
  background: #fff url("http://on.be.net/1Noq5Sf") center/100%;
  height: 80px;
  width: 80px;
  border-radius: 4px;
  position: absolute;
  left: -100px;
  top: 0;
}
.posts .post-avatar.post-avatar--fixed {
  position: fixed;
  left: 50%;
  top: 20px;
  margin-left: -325px;
}
.posts .post-avatar.post-avatar--absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: -100px;
  top: auto;
}
.posts .post-content {
  background: #fff;
  border-radius: 4px;
  width: 100%;
}
.posts .post-content img {
  width: 100%;
}
.posts .post-content header, .posts .post-content footer {
  padding: 15px 20px;
}
